#footer .contact-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#footer .contact-list li {
  text-transform: lowercase;
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

#footer .contact-list li:nth-child(n + 2) {
  margin-left: 1rem;
}

#footer .contact-list li a {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #999;
  transition: 0.3s all;
}

#footer .contact-list li a:hover {
  color: #333;
}

#footer .contact-list li a img {
  display: inline-block;
  opacity: 0;
  transition: 0.3s all;
}

#footer .contact-list li a:hover img {
  opacity: 1;
}
